<style type="text/css">
	body{
		color:grey;
	}
	a{
		font-family:Arial;
		line-height:2em;
		font-size:12px;
		color:#727272;
		text-decoration:none;
	}
	a:hover{
		text-decoration:underline;
	}
	.omg{
		font-weight:bold;
		font-size:14px;
		color:white;
	}
	th a:hover{
		text-decoration:none;
	}
	th a:hover{
		color:#b9f605;
	}
	.lab{
		font-size:14px;
		color:#fdb306;
	}
	p{
		font-family:Arial;
		line-height:2em;
		font-size:12px;
		color:grey;
		text-indent:2em;
	}
	h2{
		font-family:'Î¢ÈíÑÅºÚ';
		line-height:2em;
		font-size:20px;
		color:#686868;
		text-align:center;
	}
	h4{
		font-family:Arial;
		line-height:2em;
		font-size:12px;
		color:#a9a8a8;
		text-align:center;
	}
</style>