<style type="text/css">
	body{
		color:grey;
	}
	a{
		font-family:Arial;
		line-height:2em;
		font-size:12px;
		color:#727272;
		text-decoration:none;
	}
	a:hover{
		text-decoration:underline;
	}
	.omg{
		font-weight:bold;
		font-size:14px;
		color:white;
	}
	th a:hover{
		text-decoration:none;
	}
	th a:hover{
		color:#b9f605;
	}
	.lab{
		font-size:14px;
		color:#fdb306;
	}
	.blue{
		font-weight:bold;
		font-size:16px;
		font-family:#65a7d0;
		color:#65a7d0;
	}
	.list{
		list-style-type:none;
	}
	.white{
		color: white;
	}
</style>